/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* переменные  */
:root {
  --base-black: #000000;
  --base-extra-dark: #242424;
  --base-dark: #aba9a7;
  --base-neutral: #e5e5e5;
  --base-extra-light: #f8f5f2;
  --base-white: #ffffff;

  --basic-special: #663d15;
}

/* набор универсальных стилей  */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
button,
input {
  font-family: inherit;
}

body {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

.button {
  background: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 33px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button-close {
  border: none;
  background-color: transparent;
}

.form__label {
  margin-bottom: 10px;
}
.form__input {
  border: 2px solid #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 17px 9px;
  position: relative;
}

.news__date {
  text-transform: none;
}

.social__item {
  max-width: 43px;
  width: 100%;
}

.social__link {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* шапка  */
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

/* преимущества  */
.advantages .title {
  color: #ffffff;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  text-align: center;
}

/* обертка для секций  */
.sections-wrapper {
  background-color: #f8f5f2;
  color: #242424;
}

/* новости  */
.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news__link {
  color: inherit;
  text-decoration: none;
}

/* галерея  */
.photo-gallery__wrapper {
  border: 7px solid #ffffff;
  background-color: gray;
  margin: 0;
}

/* контакты  */
.contacts__link {
  color: inherit;
}

/* подвал  */
.footer {
  color: #ffffff;
  background-color: #242424;
}

.footer__link,
.footer__tel {
  color: inherit;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  text-decoration: none;
}

.footer__tel {
  text-decoration: none;
}

.footer__social {
  text-align: center;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .button:hover,
.footer .button:focus,
.footer .button:active {
  background-color: #ffffff;
  color: #242424;
}

.footer__copyright {
  text-align: center;
}

/* модалки  */
.modal {
  background-color: #f8f5f2;
  color: #242424;
}

.modal-wrapper {
  border: 7px solid #ffffff;
  background-color: gray;
}

.form__link {
  color: inherit;
}

.form__link:hover,
.form__link:focus,
.form__link:active {
  text-decoration: none;
}
