/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* переменные  */
:root {
  --base-black: #000000;
  --base-extra-dark: #242424;
  --base-dark: #aba9a7;
  --base-neutral: #e5e5e5;
  --base-extra-light: #f8f5f2;
  --base-white: #ffffff;

  --basic-special: #663d15;
}

/* набор универсальных стилей  */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
button,
input {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.text {
  margin: 0;
  margin-bottom: 10px;
}

.button {
  background: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 33px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button-close {
  border: none;
  background-color: transparent;
}

/* шапка  */
.header__wrap {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 62px;
}

/* меню  */
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  padding: 25px 20px;
  text-align: center;
  display: block;
  position: relative;
}

.navigation__link:focus,
.navigation__link:active,
.navigation__link:hover {
  background-color: #242424;
}

.navigation__link:not([href])::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  bottom: 0;
  right: 15px;
  left: 15px;
}

.navigation__link:not([href]):focus,
.navigation__link:not([href]):active,
.navigation__link:not([href]):hover {
  background-color: transparent;
}

.navigation__login {
  position: relative;
  padding-left: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.navigation__login::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 24px;
  opacity: 0.3;
}

.navigation__login:hover::before,
.navigation__login:focus::before,
.navigation__login:active::before {
  opacity: 1;
}

/* преимущества  */
.advantages {
  margin-bottom: 70px;
}

.advantages__title {
  display: block;
  color: #ffffff;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  text-align: center;
}

.advantages__item p {
  margin: 0;
}

/* обертка для секций  */
.sections-wrapper {
  background-color: #f8f5f2;
  color: #242424;
  background-image: url("../img/bg/white.png");
  background-position: 0 0;
  background-repeat: repeat;
  margin-bottom: 36px;
  position: relative;
  padding: 45px 80px;
  align-items: baseline;
}

.sections-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  height: 278px;
  width: 2px;
  background-image: url("../img/bg/shape.png");
  background-repeat: no-repeat;
}

.sections-wrapper:last-child {
  margin-bottom: 65px;
}

/* новости  */
.news {
  padding-right: 47px;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.news__card {
  margin-bottom: 23px;
}

.news__link {
  color: inherit;
  text-decoration: none;
}

.news__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

/* галерея  */
.photo-gallery {
  max-width: 300px;
  justify-self: end;
}

.photo-gallery__wrapper {
  border: 7px solid #ffffff;
  background-color: gray;
  margin: 0;
  margin-bottom: 42px;
}

.photo-gallery__img {
  display: block;
}

.news__date {
  text-transform: none;
}

.buttons-wrap {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
}

/* контакты  */
.contacts {
  padding-right: 55px;
}

.contacts .title {
  margin-bottom: 24px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 23px;
}

.contacts .button {
  width: 140px;
  padding: 10px 25px;
}

.contacts__link {
  color: inherit;
}

/* записаться на стижку  */
.appointment {
  max-width: 300px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment__text {
  margin: 0;
  margin-bottom: 15px;
}

/* подвал  */
.footer {
  color: #ffffff;
  background-color: #1a1a1a;
  background-image: url("../img/bg/black.png");
  background-position: 0 0;
  background-repeat: repeat;
  padding: 59px 0 38px;
}

.footer__link,
.footer__tel {
  color: inherit;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  text-decoration: none;
}

.footer__tel {
  text-decoration: none;
}

.footer .button:hover,
.footer .button:focus,
.footer .button:active {
  background-color: #ffffff;
  color: #000000;
}

.footer__contacts p {
  margin: 0;
}

.footer__copyright {
  text-align: center;
  justify-self: right;
  max-width: 150px;
}

.footer__social {
  text-align: center;
  max-width: 141px;
  justify-self: center;
  width: 100%;
}

.footer__title {
  display: inline-block;
  margin-bottom: 12px;
}

/* социальные сети  */
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.social__item {
  max-width: 43px;
  width: 100%;
}

.social__link {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: #ffffff;
}

.social__link:hover svg path,
.social__link:focus svg path,
.social__link:active svg path {
  fill: #000000;
}

/* формы  */
.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  column-gap: 20px;
  row-gap: 10px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 2px solid #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
  position: relative;
  margin-top: 8px;

}

.form .button {
  margin-top: 10px;
  grid-column: span 2;
}

/* хлебные крошки  */
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  margin-right: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  display: block;
  background-color: #000000;
  transform: rotate(45deg);
  right: -25px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  text-decoration: underline;
  color: #663d15;
}

.breadcrumbs__item:last-child a {
  color: #aba9a7;
}

.breadcrumbs__link:not([href]) {
  color: #aba9a7;
  text-decoration: none;
}

/* каталог  */
.page--inner body {
  background-color: #f8f5f2;
  color: #242424;
  background-image: url("../img/bg/white.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.card-product__link {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.card-product__name {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  margin: 0;
  text-transform: none;
  margin-bottom: 5px;
  padding: 0 16px;
}

.decision__price {
  background-color: #e5e5e5;
  padding: 13px 35px 12px;
  text-align: center;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-product {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__item {
  min-height: 220px;
}

/* фильтр каталога  */
.filter {
  max-width: 167px;
  width: 100%;
}

.filter .form__label {
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 0;
}

.filter .form__label:hover,
.filter .form__label:active,
.filter .form__label:focus {
  color: #663D15;
}

.page--inner .form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 0;
}

.form__group-wrapper {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 32px;
}

.form__group-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  display: block;
  margin-bottom: 31px;
}

.page--inner .filter__button {
  grid-column: span 1;
  margin: 0;
  width: 112px;
  padding: 9px;
  margin-top: 1px;
}

.filter .form__label-wrap {
  margin-bottom: 19px;
  position: relative;
  padding-left: 43px;
  cursor: pointer;
  user-select: none;
  display: flex;
}

.form input[type="checkbox"]+.form__label-wrap::before {
  background-image: url("../img/icons/checkbox-off.svg");
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  content: "";
  background-repeat: no-repeat;
}

.form input[type="checkbox"]:checked+.form__label-wrap::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.form input[type="radio"]+.form__label-wrap::before {
  background-image: url("../img/icons/radio-off.svg");
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  content: "";
  background-repeat: no-repeat;
}

.form input[type="radio"]:checked+.form__label-wrap::before {
  background-image: url("../img/icons/radio-on.svg");
}

/* постраничная пагинация  */
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  background-color: #000000;
  color: #ffffff;
  padding: 13px 18px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background-color: #663d15;
}

.pagination__link:not([href]) {
  background-color: #ffffff;
  color: #000000;
}

/* страница с товаром  */
.product__main-wrap {
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
  margin-bottom: 13px;
}

.product__photo-storage {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__storage-item {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
}

.product__art {
  color: #aeaeae;
  text-align: right;
}

.product__subtitle {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.product__set-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__storage-image {
  display: block;
  width: 140px;
  height: 149px;
  object-fit: cover;
}

/* сетка на гридах  */
.page {
  height: 100%;
}

.body-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-self: start;
}

.navigation-grid {
  display: grid;
  margin-bottom: 70px;
}

.navigation__logo-link {
  order: 1;
  justify-self: center;
}

.header__wrapper-grid {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.advantages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 70px;
}

.content__wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__contacts {
  max-width: 320px;
}

/* внутренние странички  */
.page--inner .header {
  background-color: #000000;
}

.page--inner .navigation__logo-link {
  order: 0;
  display: flex;
  width: 111px;
  height: 24px;
  margin: auto;
}

.page--inner .navigation-grid {
  grid-template-columns: 148px 1fr;
  align-items: baseline;
}

.page--inner main {
  padding: 50px 0;
}

.content-grid {
  display: grid;
  grid-template-columns: 180px 1fr;
}

.content-grid--product {
  grid-template-columns: 1fr;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 88px;
}

.product__photo {
  width: 460px;
  margin: 0;
}

.product__info {
  width: 390px;
  padding-top: 15px;
  padding-right: 15px;
}

.content-grid .title {
  grid-column: 1/-1;
  margin-top: 1px;
}

.content-grid .breadcrumbs {
  grid-column: 1/-1;
}

.catalog {
  margin-left: 60px;
  width: 700px;
}

.catalog__card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 45px;
}

.product__desc {
  margin: 0;
  margin-bottom: 38px;
}

.product__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 29px;
  column-gap: 20px;
}

.product__info .decision {
  margin-bottom: 62px;
}

.product__photo-storage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.decision {
  display: flex;
  padding: 15px;
  padding: 0px 17px 16px;
}

.catalog .decision .button {
  padding: 10px 18px 9px;
}

.catalog .decision__price {
  padding: 10px;
  text-align: center;
  width: 109px;
}

.page--inner .header__wrap {
  margin-bottom: 0;
}

.page--inner .navigation-grid {
  margin-bottom: 0;
}

.card-product__img {
  object-fit: contain;
  max-height: 165px;
  display: block;
  margin-bottom: 17px;
}

.card-product__name span {
  text-transform: uppercase;
  display: block;
}

.product__info .decision {
  padding: 0;
}

.product__info .button {
  width: 78px;
  padding: 5px;
  text-transform: uppercase;
}

.product__info .decision__price {
  background-color: #e5e5e5;
  padding: 10px 15px;
  text-align: center;
  width: 110px;
}

.product__subtitle {
  margin-bottom: 25px;
}

.product__set-list li {
  position: relative;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.product__set-list li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  display: block;
  background-color: #000000;
  transform: rotate(45deg);
  left: -18px;
}

.page--inner .header__wrapper-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* модалки  */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #f8f5f2;
  background-image: url(../img/bg/white.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #242424;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.button-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  display: block;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button-close::after,
.button-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 21px;
  height: 4px;
  background-color: #D0D0D0;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.modal--login {
  display: none;
  width: 460px;
  padding: 46px 80px 58px;
  top: 120px;
  bottom: auto;

}

.modal--map {
  display: none;
  width: 766px;
  height: 560px;
  background-image: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.75);
}

.modal-wrapper {
  border: 7px solid #ffffff;
  background-color: gray;
  overflow: hidden;
}

.form__link {
  color: inherit;
}

.form__link:hover,
.form__link:focus,
.form__link:active {
  text-decoration: none;
}

.login-form .form__label {
  grid-column: span 2;

}

.login-form .form__input {
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.login-form .form__label--remember {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 32px;
  grid-column: span 1;
  margin-top: 5px;
}

.login-form .form__link {
  display: block;
  grid-column: span 1;
  justify-self: end;
  margin-top: 5px;
}

.login-form .button {
  margin-top: 4px;
}

/* контентная страница */
.inner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 23px;
  row-gap: 58px;
  margin-bottom: 45px;
  margin-top: -14px;
}

.inner-content h2 {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  position: relative;
  align-items: center;
  grid-column: span 2;
}

.inner-content h2::before,
.inner-content h2::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 2px;
  background-color: #000000;
}

.inner-content h2::before {
  margin-right: 25px;
}

.inner-content h2::after {
  margin-left: 25px;
}

.inner-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.inner-content h2+h3 {
  margin-top: 30px;
}

.inner-content p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 38px;
}

.inner-content td {
  padding: 8px 15px;
  border: 2px solid #000000;
  width: 50%;
}

.inner-content td:last-child {
  text-align: center;
}

.inner-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inner-content li {
  position: relative;
  margin-left: 17px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.inner-content li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  display: block;
  background-color: #000000;
  transform: rotate(45deg);
  left: -18px;
}

.inner-content__group *:first-child {
  margin-top: 0;
}

.inner-content__group *:last-child {
  margin-bottom: 0;
}

.inner-content__group:last-child {
  align-self: end;
}

/* toasty */
.toasty {
  display: none;
  width: 170px;
  height: 174px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* .toasty::after {
  content: '';
  background-color: #ffffff;
  width: 190px;
  height: 120px;
  color: inherit;
  font-family: inherit;
  display: block;
} */

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
